<h1>GOTgram</h1>


<div class="button">
	<form method="GET" action="/home">
	<input type="submit" name="signup" value="Sign Up"/>
	</form>

	<form method="GET" action="/login">
	<input class="loginbutton" type="submit" name="login" value="Log In"/>
	</form>
</div>
