<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>GOTgram</title>
	<link rel="stylesheet" href="/css/default.css"/>
	<link href="https://fonts.googleapis.com/css?family=Nosifer|Pacifico" rel="stylesheet">
	
</head>
<body>
	<div id="flashMessage"><%= flash[:message] %>
	</div>
	<div class="header">
	</div>
	
	<%= yield %>
</body>
</html>