<h1>Log In</h1>
<form method="POST" class="loginForm" action="/login">
	<label>Username</label><input type="" name="username" />
	<label>Password</label><input type="password" name="password" />
	<input type="submit" name="Login" value="Log In" >
</form>