<form method="POST" enctype="multipart/form-data" class="signUpForm" action="/signup">
	<label>First Name</label><input type="" name="name" />
	<label>Last Name</label><input type="" name="last" />
	<label>Username</label><input type="" name="username" />
	<label>Password</label><input type="" name="password" />
	<label>Profile Photo</label><input type="file" name="photo" />
	<label>Occupancy</label><input type="" name="occupancy" />
	<label>Relationship</label><select name="relationship">
		<option value="Single">Single</option>
		<option value="Dating">Dating</option>
		<option value="Married">Married</option>
		<option value="Divorced">Divorced</option> 
		<option value="Widowed">Widowed</option>
		<option value="It's Complicated">It's Complicated</option>
	</select>
	<input type="submit" />
</form>